/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    font-size: 20px;
    font-weight: 600;
}

.app-wrapper{
    width: 100%;
    height: 100vh;
}

ul{
    list-style-type: none;
}

/* Text and Title */
.text-white{
    color: white;
}

/* MAIN */
main{
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
}

/* Main nav */
.main-nav{
    width: 250px;
    height: 100%;
    background-color: black;
    float: left;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
/* nav logo */
.logo{
    height: 60px;
}

/* nav actions */
.nav-actions{
    padding-top: 15px;
}
.nav-actions li{
    padding: 15px 0;
}

.nav-actions i{
    font-size: 30px;
    vertical-align: middle;
}

.nav-actions a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
}

.nav-actions li:hover{
    color: white;
}
/* nav playlist */
.nav-playlist{
    flex-grow: 1;
    overflow: hidden;
}

.nav-playlist ul{
    height: 100%;
    overflow-y: auto;
}
.nav-playlist> *{
    padding-top: 15px;
}

.nav-playlist i{
    font-size: 40px;
    vertical-align: middle;
}

.nav-playlist li{
    margin-bottom: 15px;
}
/* nav users */
.nav-users{
    padding: 15px 0;
}

.install-app::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: gray;
    margin: 10px 0;
}

.user i{
    font-size: 40px;
    vertical-align: middle;
}


/* Main content */
.main-content{
    width: calc(100% - 250px);
    height: 100%;
    float: left;
    padding-top: 100px;
    overflow-y: auto;
    background-color: rgb(14, 17, 26);
}

.uppgrade-bar{
    width: calc(100% - 250px);
    height: 80px;
    background-color: rgb(0,0,0,0.4);
    position: fixed;
    top: 0;
    right: 0;
}

/* FOOTER */
footer{
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-color:rgb(31, 29, 29);
}
