/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    font-size: 20px;
    font-weight: 600;
}

.app-wrapper{
    width: 100%;
    height: 100vh;
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
}

/* Text and Title */
.text-white{
    color: white;
}

.title-h2{
    font-size: 40px;
}

/* MAIN */
main{
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
}

/* Main nav */
.main-nav{
    width: 250px;
    height: 100%;
    background-color: black;
    float: left;
    /* padding-left: 20px; */
    display: flex;
    flex-direction: column;
}

/* nav logo */
.logo{
    height: 60px;
}

.nav-logo{
    padding: 20px 20px 20px 0;
}

/* nav actions */
.nav-actions{
    padding-top: 15px;
}
.nav-actions .home-action::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 50px;
    background-color: yellowgreen;
    vertical-align: middle;
    margin-right: 20px;  
}

.nav-actions li{
    padding: 15px 20px;
}

.nav-actions .home-action{
    padding-left: 0;
}

.nav-actions .icon-img{
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.nav-actions a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
}

.nav-actions li:hover{
    color: white;
}

/* nav playlist */
.nav-playlist{
    flex-grow: 1;
    overflow: hidden;
    padding-left: 20px;
}

.nav-playlist ul{
    height: 100%;
    overflow-y: auto;
}
.nav-playlist> *{
    padding-top: 15px;
}

.nav-playlist .create-playlist:hover,
.nav-playlist li:hover{
    color: white;
}

.nav-playlist i{
    font-size: 40px;
    vertical-align: middle;
    margin-right: 5px;
}

.nav-playlist li{
    margin-bottom: 15px;
}

/* nav users */
.nav-users{
    padding: 0 20px;
}

.install-app,
.user{
    padding: 15px 0;
}
.install-app i,
.user i{
    padding-right: 5px;
}

.install-app:hover{
    color: white;
}

.install-app{
    border-bottom: 1px solid gray;
}

.user i{
    font-size: 40px;
    vertical-align: middle;
}

/* Main content */
.main-content{
    width: calc(100% - 250px);
    height: 100%;
    float: left;
    padding: 100px 30px 0 30px;
    overflow-y: auto;
    background-color: rgb(14, 17, 26);
    padding
}

/* uppgrade bar */
.uppgrade-bar{
    width: calc(100% - 250px);
    height: 100px;
    background-color: rgb(0,0,0,0.4);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

.uppgrade-btn{
    display: inline-block;
    text-decoration: none;
    padding: 15px 70px;
    border: 1px solid white;
    border-radius: 40px;
    transition: transform;
}

.uppgrade-btn:hover{
    transform: scale(1.09);  
}

/*Main content menu  */
.main-content .menu{
    max-width: 910px;
    margin: auto;
    text-transform: uppercase;
}

.menu ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.menu li{
    display: inline-block;
    margin: 10px ;
}

.menu a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.menu a:hover{
    color: white;
}

.menu .in-evidenza::after{
    content: "";
    display: block;
    width: 35%;
    height: 3px;
    background-color: yellowgreen;
    margin: auto;
    margin-top: 5px;
}

/* main content row album */
.row-albums{
    margin-top: 50px;
}

.row-albums p{
    margin-top: 20px;
}

.albums{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}


.singel-album{
    width: calc(100% / 6 - 20px);
    margin: 10px;
}

.singel-album-img{
    position: relative;
    
}

.singel-album-img.circel{
    border-radius: 50%;
    overflow: hidden;
}

.circel img{
    display: block;
}

.overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:  rgb(0,0,0,0.6);
    display: none;
}

.play-icon{
    font-size: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
}

.singel-album-img:hover .overlay,
.singel-album-img:hover .play-icon {
    display: inline-block;
}

.singel-album-text{
    width: 100%;
    text-align: center;
}

.singel-album-text> *{
    margin: 20px 0;
}

/* FOOTER */
footer{
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-color:rgb(31, 29, 29);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-content-left,
.footer-content-right{
    margin:0 20px;
}

.footer-content-center{

    /* test */
    height: 70%;
    background-color: darkred;
} 

.footer-content-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer-content-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.footer-content-center{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-content-left> *{
    margin-right: 15px;
}

.footer-img-text{
    padding-right: 40px;
}

.footer-content-right> *{
    margin-left: 15px;
}

.footer-img{
    width: 60px;
    height: 60px ;
    background-image: url(../img/sinister.jpeg);
    background-size: cover;
}

